*{
    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 2, 58);
}

.square{
    border: 5px inset gainsboro;
    height: 150px;
    width: 150px;
    font-size: 100px;
    color: red;
    text-align: center;
    background-color: white;margin: 1px;
}

#gamecontainer{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    border: 10px outset black;
    background-color: black;
}

#new-game{
    height: 100px;
    width: 100px;
    margin-right: 75px;
}